{%extends 'main.html'%}
{%block content%}

<h1>Moje zgłoszenia</h1>

{%for status in take_offers_statuses%}
{%if status.0 == take_offers_status%}
<a href="{%url 'my_take_offers_page' status.0%}"></a>
<p><b>{{status.1}}</b></p>
</a>

{%for take_offer in take_offers%}

<a href="{%url 'offer_page' take_offer.offer.id%}">
    <img src="{{take_offer.offer.photo_set.first.photo.url}}" alt="photo" style="width: 100px; height: 100px;">
</a>
<p>{{take_offer.offer}}</p>
<p>{{take_offer.offer.price}}</p>

{%if status.0 == 'waiting' or status.0 == 'accepted'%}
<a href="{%url 'cancel_take_offer' take_offer.offer.id request.user.id True%}">
    <p>Anuluj zgłoszenie</p>
</a>
{%endif%}

{%if status.0 == 'finished'%}
{%if not take_offer.taker_to_creator_opinion%}
<a href="{%url 'add_opinion_page' take_offer.offer.creator.id take_offer.id 'my_take_offers'%}">
    <p>Wystaw opinię</p>
</a>
{%endif%}
{%endif%}

{%endfor%}

{%else%}
<a href="{%url 'my_take_offers_page' status.0%}">
    <p>{{status.1}}</p>
</a>
{%endif%}

{%endfor%}



{%endblock content%}