.container {
    max-width: 1440px;
    margin: 0 auto;
}

.search-container{
    display: flex;
    align-items: center;
    border: 2px solid #f4a623;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: white;
    margin-top: 20px;
}

.search-container input{
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    flex-grow: 1;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    color: #f4a623;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.search-container button svg {
    fill: #f4a623;
    width: 18px;
    height: 18px;
}

.filters {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    gap: 10px;
}
.filter {
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-size: 14px;
}

.filter.active {
    background-color: #f4a623;
    color: white;
    font-weight: bold;
}

.filter a{
color: black;
text-decoration: none;
}

.filter.active a{
    color: white;
}

.view-icons {
    display: flex;
    gap: 10px;
}
.view-icons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.view-icons button svg {
    width: 20px;
    height: 20px;
    fill: #ddd;
}
.view-icons button.active svg {
    fill: #f4a623;
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #0a2540;
    margin-bottom: 20px;
    width: 881px;
    margin-top: 50px;
  }

  .tabs button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: #333;
  }

  .tabs .active {
    border-bottom: 3px solid #0a2540;
    font-weight: bold;
  }

  .tabs button a{
    text-decoration: none;
    color: #333;
  }

  .list {
    max-height: 800px;
  }

  .ad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: black;
    border-radius: 12px;
    padding: 25px 20px;
    margin-bottom: 15px;
    box-shadow: 5px 4px 9px -3px rgba(66, 68, 90, 1);
  }

  .ad:last-child {
    background: white;
    color: black;
    border: 2px solid #ddd;
  }

  .ad img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
  }

  .ad-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
  }

  .edit-icon {
    width: 24px;
    height: 24px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1159/1159633.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
  }

  .ad-content {
    display: flex;
    flex-direction: column;
  }

  .ad .buttons {
    display: flex;
    gap: 10px;
  }

  .ad .buttons button, a {
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
  }

  .ad .buttons .accept {
    background: #0a2540;
    color: white;
  }

  .ad .buttons .edit {
    background: #8e8e8e;
    color: white;
  }

  .ad .buttons .cancel {
    background: white;
    color: #0a2540;
    border: 1px solid #0a2540;
  }

  .status {
    margin-top: 5px;
    color: #ffc300;
  }

  .text-avatar{
    margin-left: 30px;
  }