{%extends 'main.html'%}
{%load static%}

<head>
    {%block styles%}
    <title>Dzielimy się</title>
    <link rel="stylesheet" type='text/css' href="{%static 'styles/opinion.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{%static 'scripts/add_opinion.js'%}" defer></script>
    {%endblock styles%}
</head>

{%block content%}

<div class="container">
    <div class="opinion">
        <div class="opinion_text">
            <h2>WYSTAW OPINIĘ</h2>
        </div>


        <div class="opinion_container">

            <div class="chat-description">
                {%if opinion_exists%}
                <h2>Opinia już została wystawiona.</h2><br>
                {%endif%}

                <img class="chat-img" src="{{take_offer.offer.photo_set.first.photo.url}}"
                    alt="{{take_offer.offer.title}}">
                <div class="offer-info">
                    <span class="offer-text">{{take_offer.offer.title}} <br> {{take_offer.offer.place}}</span>
                </div>

            </div>

            <div class="stars">
                {%if given_opinion%}

                {%with ''|center:given_opinion.rating as range%}
                {%for filled_star in range%}
                <i class="fa-solid fa-star" name="given_opinion_star"></i>
                {%endfor%}
                {%endwith%}

                {%with ''|center:remaining_to_5_stars as range%}
                {%for empty_star in range%}
                <i class="fa-regular fa-star" name="given_opinion_star"></i>
                {%endfor%}
                {%endwith%}

                {%else%}

                <form method="POST">
                    {% csrf_token %}
                    {%with ''|center:5 as range_5%}
                    {%for empty_star in range_5%}
                    <i class="fa-regular fa-star" data-value="{{ forloop.counter }}"
                        onclick="set_rating('{{forloop.counter}}')"></i>
                    {%endfor%}
                    {%endwith%}
                    <input type="hidden" name="rating" id="rating_input" value="0">

                    {%endif%}
            </div>

            {%if given_opinion%}
            <textarea placeholder="{{given_opinion.text}}" readonly disabled></textarea>
            {%else%}
            <textarea required name="opinion_text" placeholder="Napisz opinię na temat tego ogłoszenia..."></textarea>
            <button type="submit" class="accept">ZATWIERDŹ</button>
            {%endif%}

        </div>
        </form>

    </div>

    <div class="user">
        <img src="{{rated_user.avatar.url}}" alt="{{rated_user.username}}">
        <p class="username">{{take_offer.taker.username}}</p>
        <a href="{%url 'user_profile_page' take_offer.taker.id 'offers'%}" class="go-to-profile">
            PRZEJDŹ DO PROFILU
        </a>
        <h3>OSTATNIE OPINIE</h3>
        {%if not latest_opinions%}
        <h4>Brak opinii</h4>

        {%else%}
        <div class="user_opinion">
            {%for latest_opinion in latest_opinions%}
            <div class="opinion_card">
                <a href="{%url 'user_profile_page' latest_opinion.author.id%}">
                    <img class="user_photo" src="{{latest_opinion.author.avatar.url}}"
                        alt="{{latest_opinion.author.username}}">
                </a>

                <div class="opinion_content">
                    <p class="username">{{latest_opinion.author.username}}</p>
                    <div class="stars2">
                        <h1>{{latest_opinion.rating}}</h1>
                        {% with ''|center:latest_opinion.rating as range %}
                        {% for star in range %}
                        <i class="fa-solid fa-star"></i>
                        {% endfor %}
                        {% endwith %}
                    </div>
                    <p class="text">{{latest_opinion.text}}</p>
                </div>
            </div>
            {%endfor%}
            {%endif%}

        </div>

    </div>


</div>

{%endblock content%}