{%extends 'main.html'%}
{%load static%}

<head>
    {%block styles%}
    <title>Dodaj ogłoszenie</title>
    <link rel="stylesheet" type='text/css' href="{%static 'styles/add_offer.css'%}">
    <script src="{%static 'scripts/character_counter.js'%}" defer></script>
    {%endblock styles%}
</head>

{%block content%}

<form method="POST" enctype="multipart/form-data">
    {%csrf_token%}

    <h1>Edytuj ogłoszenie</h1>
    <div class="Title-container">
        <h3>Tytuł ogłoszenia</h3>
        <input type="text" value="{{offer.title|default_if_none:''}}" name="title" required><br>
        <h3>Kategoria</h3>
        <select id='select' name="category" required>
            {% if offer.category %}
                <option value="{{ offer.category.id }}" selected>{{ offer.category.name }}</option>
            {% else %}
                <option value="" disabled selected>Wybierz kategorię</option>
            {% endif %}
            {% for category in categories %}
                {% if not offer.category or category.id != offer.category.id %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>

    </div>
    <div class="Photo-container">
        <h3>Zdjęcia</h3>
        <p>Możesz zmienić zdjęcia dla swojego ogłoszenia. Pierwsze zdjęcie będzie również miniaturką.</p>
        <input type="file" name="photos" multiple><br>
         {% if offer.photo_set.all %}
        <div>
            <h3>Aktualne zdjęcia:</h3>
            {% for photo in offer.photo_set.all %}
            <img src="{{ photo.photo.url }}" style="max-width: 200px; max-height: 200px;">
            {% endfor %}
        </div>
        {% endif %}

    </div>
    </div>

    <div class="Description">
        <h3>Opis</h3>
        <textarea id='opis' name="description" rows="10" cols="50" required>{{offer.description}}</textarea><br>
        <p>Opis powinien mieć co najmniej 50 znaków</p>
        <p id="char-count">0 / 1000 znaków</p>
    </div>

    <div class="Contact">
        <label>Cena</label>
        <input type="number" name="price" value="{{offer.price|default_if_none:''}}" min="0"><br>

        <label>Miejsce</label>
        <input type="text" value="{{offer.place|default_if_none:''}}" name="place" required><br>

        <label>Imię</label>
        <input type="text" value="{{offer.creator_name|default_if_none:''}}" name="creator_name" required><br>

        <label>Adres e-mail</label>
        <input type="text" value="{{offer.creator_email|default_if_none:''}}" name="creator_email" required><br>

        <label>Numer telefonu</label>
        <input type="text" value="{{offer.creator_phone|default_if_none:''}}" name="creator_phone" required><br>

    </div>

    <div class="offer-actions">
        <!-- <input type="submit" value="Dodaj ogłoszenie"> -->
        <button type="submit">Zapisz zmiany</button>
    </div>
</form>

{%endblock content%}