{%extends 'main.html'%}
{%load static%}

<head>
    {%block styles%}
    <title>Dzielimysie. tu</title>
    {%if page == 'offers'%}
    <link rel="stylesheet" href="{%static 'styles/ulubione.css'%}">
    {%else%}
    <link rel="stylesheet" href="{%static 'styles/ulubione_użytk.css'%}">
    {%endif%}
    {%endblock styles%}
</head>

{%block content%}

<div class="container">
    <form method="GET">
        <div class="search-container">
            <input type="text" name='q' placeholder="Szukaj...">
            <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M21.71 20.29l-5.4-5.39a8 8 0 10-1.41 1.41l5.39 5.4a1 1 0 001.42-1.42zM4 10a6 6 0 116 6 6 6 0 01-6-6z" />
                </svg></button>
        </div>
    </form>
    <div class="filters">
        <button class="filter {%if page == 'offers' %}active{%endif%}"><a
                href="{%url 'following_page' 'offers'%}">Ogłoszenia</a></button>

        <button class="filter {%if page == 'users'%}active{%endif%}"><a
                href="{%url 'following_page' 'users'%}">Użytkownicy</a></button>
    </div>

    <main class="ads-grid">
        {%if page == 'offers'%}
        {%for offer in offers%}
        <div class="ad">
            <a href="{%url 'offer_page' offer.id%}">
                <img src="{{offer.photo_set.first.photo.url}}" alt="{{offer.title}}" />
            </a>
            <h3>{{offer.title}}</h3>
        </div>
        {%endfor%}
        {%else%}

        <div class="user-container">
            {%for user in followed_users%}
            <div class='user-card'>
                <a href="{%url 'user_profile_page' user.id%}">
                    <img src="{{user.avatar.url}}" class="avatar" alt="{{user.username}}">
                </a>
                <p class="username">{{user.username}}</p>
            </div>
            {%endfor%}
        </div>

        {%endif%}
</div>

{%endblock content%}