{%extends 'main.html'%}
{%block content%}

<div>
    <form method='POST' action="">
        {%csrf_token%}

        {%if page == 'login'%}
        <input type="text" name="email" placeholder="E-mail">
        <input type="text" name="password" placeholder="Hasło">
        <input type="submit" value="Zaloguj się">
        <a href="{%url 'register_page'%}">
            <h3>Nie masz konta? Zarejestruj się</h3>
        </a>

        {%elif page == 'register'%}
        <input type="text" name="legal_name" placeholder="Imię i nazwisko">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="password" placeholder="Hasło">
        <input type="submit" value="Zarejestruj się">
        <a href="{%url 'login_page'%}">
            <h3>Masz już konto? Zaloguj się</h3>
        </a>

        {%endif%}
    </form>
</div>

{%endblock content%}