{% extends 'main.html'%}

{% block content %}

{%if page == 'login'%}
<div>
    <form method="POST" action="">
        {%csrf_token%}

        <label>Email</label>
        <input type="text" id="username" name="email">

        <label>Hasło</label>
        <input id="password" name="password" type="password"
            placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
        <input type="submit" value="Zaloguj się">
    </form>

    <a href="{%url 'register_page'%}">
        <p>Nie masz konta? Zarejestruj się</p>
    </a>
</div>

{%else%}
<div>
    <form method="POST" action="">
        {%csrf_token%}

        {%for field in register_form%}
        <label>{{field.label}}</label>
        {{field}}
        {%endfor%}

        <input type="submit" value="Register">
    </form>

    <a href="{%url 'login_page'%}">
        <p>Już masz konto? Zaloguj się</p>
    </a>
</div>

{%endif%}

{%endblock content%}