{%extends 'main.html'%}
{%block content%}

<h1>Moje ogłoszenia</h1>

<!-- .0 => first element -->
{%for status in offers_statuses%}
{%if status.0 == offers_status%}
<a href="{%url 'my_offers_page' status.0%}"></a>
<p><b>{{status.1}}</b></p>
</a>

{%else%}
<a href="{%url 'my_offers_page' status.0%}">
    <p>{{status.1}}</p>
</a>
{%endif%}
{%endfor%}

{%for offer, take_offers in offers_with_takers%}
<a href="{%url 'offer_page' offer.id%}">
    <img src="{{offer.photo_set.first.photo.url}}" alt="photo" style="width: 100px; height: 100px;">
</a>
<p>{{offer}}</p>
<p>{{offer.price}}</p><br>

{%if take_offers%}
{%for take_offer in take_offers%}

<a href="{%url 'user_profile_page' take_offer.taker.id%}">
    <img src="{{take_offer.taker.avatar.url}}" alt="photo" style="width: 75; height: 75px;">
</a>
<p>{{take_offer.taker.username}}</p>

{%if offers_status == 'pending'%}
<a href="{%url 'accept_offer' offer.id take_offer.taker%}">
    <p>Akceptuj</p>
</a>

<a href="{%url 'reject_offer' offer.id take_offer.taker%}">
    <p>Odrzuć</p><br>
</a>

{%elif offers_status == 'in_progress'%}
<a href="{%url 'finish_offer' offer.id take_offer.taker%}">
    <p>Zakończ</p>
</a>

<a href="{%url 'cancel_offer' offer.id take_offer.taker%}">
    <p>Anuluj</p><br>
</a>
{%endif%}
{%endfor%}
{%endif%}

{%endfor%}

{%endblock content%}