{%extends 'main.html'%} {%load static%}

<head>
    {%block styles%}
    <title>Dzielimy się</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{%static 'styles/zgłoszenia_oczekujące.css'%}"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap"
        rel="stylesheet"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <script src="{%static 'scripts/add_opinion.js'%}" defer></script>
    {%endblock styles%}
</head>

{%block content%}

    <h1>{{status}}</h1>
    <div class="container">
        {% comment %} <div class="search-container">
            <input type="text" placeholder="Szukaj..." />
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M21.71 20.29l-5.4-5.39a8 8 0 10-1.41 1.41l5.39 5.4a1 1 0 001.42-1.42zM4 10a6 6 0 116 6 6 6 0 01-6-6z"
                    />
                </svg>
            </button>
        </div> {% endcomment %}

        <div class="tabs">
            <button{% if take_offers_status == 'waiting' %} class="active"{% endif %}>
                <a href="{%url 'my_take_offers_page' 'waiting'%}">Oczekujące</a>
            </button>
            <button{% if take_offers_status == 'accepted' %} class="active"{% endif %}>
                <a href="{%url 'my_take_offers_page' 'accepted'%}">W realizacji</a>
            </button>
            <button{% if take_offers_status == 'cancelled' %} class="active"{% endif %}>
                <a href="{%url 'my_take_offers_page' 'cancelled'%}">Anulowane</a>
            </button>
            <button{% if take_offers_status == 'finished' %} class="active"{% endif %}>
                <a href="{%url 'my_take_offers_page' 'finished'%}">Zakończone</a>
            </button>
            <button><a href="{%url 'my_offers_page' 'waiting' None%}">Moje ogłoszenia</a></button>
        </div>

        <div class="list">
            {%for take_offer in take_offers%}
            <a href={%url 'offer_page' take_offer.offer.id%}>
                
            <div class="ad">
                <div class="ad-info">
                    <img src="{{take_offer.offer.photo_set.first.photo.url}}" class="avatar" alt="photo" />
                    <div class="ad-content">
                        <strong>{{take_offer.offer.title}}</strong>
                        <span class="status">
                            {% if take_offer.offer.price is None %}
                                Za darmo
                            {% else %}
                                {{ take_offer.offer.price }} zł
                            {% endif %}
                        </span>
                    </div>
                </div>
                
                <div class="buttons">
                    {% if take_offer.status == 'finished' or take_offer.status == 'in_progress' %}
                    <a href="{%url 'add_opinion_page' take_offer.offer.creator.id take_offer.id 'my_take_offers'%}">
                    <button class="accept">Wystaw opinię</button>
                    </a>

                    {%else%}
                    {%if take_offer.status != 'cancelled'%}
                    <a href="{%url 'cancel_take_offer' take_offer.offer.id request.user.id True%}">
                    <button class="accept">Anuluj zgłoszenie</button>
                    </a>
                    {%endif%}
                    {%endif%}
                </div>
            </div>
            </a>

            {%endfor%}

        </div>
    </div>

    {%endblock content%}
</body>
