{%extends 'main.html'%}

{%block content%}

<h1>{{offer.title}}</h1>
<p>Kategoria: <a href="{%url 'category_page' offer.category.id%}">{{offer.category}}</a></p>
<p>Cena: {{offer.price}}</p>
<p>{{offer.place}}</p>

<a href="{%url 'take_offer_page' offer.id%}">
    <p>Zgłoś się</p>
</a>

<a href="{%url 'chat_page' offer.id%}">
    <p>Napisz wiadomość</p>
</a>

<p>Opis: {{offer.description}}</p>
<p>Autor: {{offer.creator.username}}</p>

{%for photo in offer.photo_set.all%}
<img src="{{ photo.photo.url }}" alt="Offer Image">
{%endfor%}

{%endblock content%}