{%extends 'main.html'%}
{%load static%}

<head>
    {%block styles%}
    <title>Dzielimysie. tu</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'styles/settings.css'%}">
    {%endblock styles%}
</head>

{%block content%}

<h1>Ustawienia</h1>
<form method="POST">
    {%csrf_token%}

    <div class="Password">
        <h3>Zmień hasło</h3>
        <p>Obecne hasło</p>
        <input id="text" type="password" name="current_password">
        <p>Nowe hasło</p>
        <input id="text" type="password" name="new_password">
        <p>Potwierdź nowe hasło</p>
        <input id="text" type="password" name="new_password_confirm">
        <button type='submit' class="button">Zmień hasło</button>
    </div>
</form>

<form method="POST">
    {%csrf_token%}
    <div class="E-mail">
        <h3>Zmień e-mail</h3>
        <p>Twój nowy e-mail</p>
        <input id="text" type="email" name="new_email">
        <button type='submit' class="button">Zmień e-mail</button>
    </div>
</form>

<form method="POST">
    {%csrf_token%}
    <div class="Notification">
        <h3>Powiadomienia</h3>

        <label class="checkbox-row">
            <span>Nowa wiadomość</span>
            <input type="hidden" name="new_message_notification" value="off">
            <input type="checkbox" name="new_message_notification" {% if user.new_message_notification %}checked{%endif%}>
        </label>
        <div class="separator"></div>

        <label class="checkbox-row">
            <span>Zmiana ceny</span>
            <input type="checkbox" name="price_change_notification" {%if user.price_change_notification%} checked {%endif%}>
        </label>
        <div class="separator"></div>

        <label class="checkbox-row">
            <span>Nowe ogłoszenia</span>
            <input type="checkbox" name="new_offer_notification" {%if user.new_offer_notification%} checked {%endif%}>
        </label>

        <button type='submit' class="button">Zapisz</button>
    </div>
</form>

{%endblock content%}